# figma-managed npm registry config start
@make-kits:registry=https://registry.figma.com/npm/e2212d90-8764-4eeb-9671-45a7f84fed78/registry/
@plumhq:registry=https://registry.figma.com/npm/e2212d90-8764-4eeb-9671-45a7f84fed78/registry/
# figma-managed npm registry config end
